<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answer-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,199}</string>
                <key>spriteSourceSize</key>
                <string>{276,199}</string>
                <key>textureRect</key>
                <string>{{476,1},{276,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,332}</string>
                <key>spriteSourceSize</key>
                <string>{504,332}</string>
                <key>textureRect</key>
                <string>{{394,576},{504,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,248}</string>
                <key>spriteSourceSize</key>
                <string>{237,248}</string>
                <key>textureRect</key>
                <string>{{237,1},{237,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>high-scores.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,231}</string>
                <key>textureRect</key>
                <string>{{1056,1},{300,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level-button-lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,323}</string>
                <key>spriteSourceSize</key>
                <string>{376,323}</string>
                <key>textureRect</key>
                <string>{{1,251},{376,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,323}</string>
                <key>spriteSourceSize</key>
                <string>{376,323}</string>
                <key>textureRect</key>
                <string>{{379,251},{376,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-off-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,231}</string>
                <key>textureRect</key>
                <string>{{1150,251},{391,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-on-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,231}</string>
                <key>textureRect</key>
                <string>{{1,576},{391,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,231}</string>
                <key>spriteSourceSize</key>
                <string>{300,231}</string>
                <key>textureRect</key>
                <string>{{754,1},{300,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,376}</string>
                <key>spriteSourceSize</key>
                <string>{523,376}</string>
                <key>textureRect</key>
                <string>{{1425,576},{523,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-opened.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,376}</string>
                <key>spriteSourceSize</key>
                <string>{523,376}</string>
                <key>textureRect</key>
                <string>{{900,576},{523,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,237}</string>
                <key>spriteSourceSize</key>
                <string>{335,237}</string>
                <key>textureRect</key>
                <string>{{1358,1},{335,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound-off-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,231}</string>
                <key>textureRect</key>
                <string>{{757,251},{391,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound-on-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,231}</string>
                <key>textureRect</key>
                <string>{{1543,251},{391,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{1949,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c3fc7148c75eec9933bcc7ffed7aa2:110cd898c6dcff292e164656c17fc2bd:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
