<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-loader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{342,1},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloude-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1426,384}</string>
                <key>spriteSourceSize</key>
                <string>{1426,384}</string>
                <key>textureRect</key>
                <string>{{1,2002},{1426,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloude-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1425,383}</string>
                <key>spriteSourceSize</key>
                <string>{1425,383}</string>
                <key>textureRect</key>
                <string>{{1,1617},{1425,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,529}</string>
                <key>spriteSourceSize</key>
                <string>{339,529}</string>
                <key>textureRect</key>
                <string>{{1,1},{339,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mill-big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,650}</string>
                <key>spriteSourceSize</key>
                <string>{659,650}</string>
                <key>textureRect</key>
                <string>{{1,643},{659,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1089,972}</string>
                <key>spriteSourceSize</key>
                <string>{1089,972}</string>
                <key>textureRect</key>
                <string>{{662,643},{1089,972}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun-ray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{944,1},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinamy.png</string>
            <key>size</key>
            <string>{1752,2387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ecf14d2b0e6defd1ede3b23043b6c9:6016fcf5d810dd9f95cb9626a37ed4ac:808e55c4d8e3c2fc66fe6d7f87459951$</string>
            <key>textureFileName</key>
            <string>dinamy.png</string>
        </dict>
    </dict>
</plist>
