<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panel-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1013,549}</string>
                <key>spriteSourceSize</key>
                <string>{1013,549}</string>
                <key>textureRect</key>
                <string>{{695,1},{1013,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1013,798}</string>
                <key>spriteSourceSize</key>
                <string>{1013,798}</string>
                <key>textureRect</key>
                <string>{{2031,672},{1013,798}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,174}</string>
                <key>spriteSourceSize</key>
                <string>{692,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-4-border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1013,750}</string>
                <key>spriteSourceSize</key>
                <string>{1013,750}</string>
                <key>textureRect</key>
                <string>{{1016,672},{1013,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1013,750}</string>
                <key>spriteSourceSize</key>
                <string>{1013,750}</string>
                <key>textureRect</key>
                <string>{{1,672},{1013,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-5-border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1012,669}</string>
                <key>spriteSourceSize</key>
                <string>{1012,669}</string>
                <key>textureRect</key>
                <string>{{1710,1},{1012,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1012,669}</string>
                <key>spriteSourceSize</key>
                <string>{1012,669}</string>
                <key>textureRect</key>
                <string>{{2724,1},{1012,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panels.png</string>
            <key>size</key>
            <string>{3737,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e7925da2b5a4e7f7bc81a3826e29b85:a956aa850ab8453ee5b33297df8f057b:59b30aabb34f22bc528e32ee168f464d$</string>
            <key>textureFileName</key>
            <string>panels.png</string>
        </dict>
    </dict>
</plist>
