<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star-empty-center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,358}</string>
                <key>spriteSourceSize</key>
                <string>{344,358}</string>
                <key>textureRect</key>
                <string>{{633,267},{344,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-empty-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{284,264}</string>
                <key>textureRect</key>
                <string>{{1,267},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-empty-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{282,264}</string>
                <key>spriteSourceSize</key>
                <string>{284,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-full-center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,358}</string>
                <key>spriteSourceSize</key>
                <string>{344,358}</string>
                <key>textureRect</key>
                <string>{{287,267},{344,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-full-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{284,264}</string>
                <key>textureRect</key>
                <string>{{285,1},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-full-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,264}</string>
                <key>spriteSourceSize</key>
                <string>{284,264}</string>
                <key>textureRect</key>
                <string>{{571,1},{284,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{978,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:558c711953f8e305ed202d658478322b:b64139911602f9b5de4eef107ca0fbdf:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
