<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answer-correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,400}</string>
                <key>spriteSourceSize</key>
                <string>{330,400}</string>
                <key>textureRect</key>
                <string>{{603,1287},{330,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>answer-wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{280,885},{300,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,154}</string>
                <key>spriteSourceSize</key>
                <string>{183,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,209}</string>
                <key>spriteSourceSize</key>
                <string>{600,209}</string>
                <key>textureRect</key>
                <string>{{1,1287},{600,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{186,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{428,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golblet-bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,273}</string>
                <key>spriteSourceSize</key>
                <string>{245,273}</string>
                <key>textureRect</key>
                <string>{{494,243},{245,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golblet-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,273}</string>
                <key>spriteSourceSize</key>
                <string>{245,273}</string>
                <key>textureRect</key>
                <string>{{247,243},{245,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golblet-silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,273}</string>
                <key>spriteSourceSize</key>
                <string>{245,273}</string>
                <key>textureRect</key>
                <string>{{741,243},{245,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{244,254}</string>
                <key>spriteSourceSize</key>
                <string>{246,258}</string>
                <key>textureRect</key>
                <string>{{1,243},{244,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,307}</string>
                <key>spriteSourceSize</key>
                <string>{289,307}</string>
                <key>textureRect</key>
                <string>{{1,518},{289,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,365}</string>
                <key>spriteSourceSize</key>
                <string>{277,365}</string>
                <key>textureRect</key>
                <string>{{645,518},{277,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-opened.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,387}</string>
                <key>spriteSourceSize</key>
                <string>{277,387}</string>
                <key>textureRect</key>
                <string>{{1,885},{277,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my-best-scores.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,287}</string>
                <key>spriteSourceSize</key>
                <string>{351,287}</string>
                <key>textureRect</key>
                <string>{{292,518},{351,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time-big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,205}</string>
                <key>spriteSourceSize</key>
                <string>{281,205}</string>
                <key>textureRect</key>
                <string>{{670,1},{281,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,386}</string>
                <key>spriteSourceSize</key>
                <string>{319,386}</string>
                <key>textureRect</key>
                <string>{{582,885},{319,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stuff.png</string>
            <key>size</key>
            <string>{987,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a9747cc80efb3131b89632c1a3a3422:d1f9ea71b1b7d9761678faf7df37be3d:aca88d9440759f37e2efacad7c239c2d$</string>
            <key>textureFileName</key>
            <string>stuff.png</string>
        </dict>
    </dict>
</plist>
